header h1{
    background-color: darkblue;
    padding: 30px;
    color: white;
    margin: 0;
}

.menu{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    list-style: none;
    background-color: steelblue;
    padding: 30px;
    margin: 0;

}

ul li{
    padding: 10px;
    background-color: purple;
}

a{
    text-decoration: none;
    color: deepskyblue;
}


.artigo{
    border: 5px solid red;

}

img{
    width: 300px;
}


}

footer{
    background-color: green;
}
